<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>水平居中</title>
	<style type="text/css">
		.container {
			min-width: 1000px;
    		background-color: grey;
		}
		.content {
			background-color: blue;
			width: 1000px;
			height: 500px;
			margin: 0 auto;
		}
		.content2 {
			background-color: red;
			width: 1000px;
			height: 500px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="content"></div>
		<div class="content2"></div>
	</div>
</body>
</html>