html{
				font-size:10px;
				font-family: "微软雅黑" arial;
				/*overflow-x: hidden;*/
			}
			@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
			@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
			@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
			@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
			@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
			@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
			@media screen and (min-width:800px){html{font-size:25px}}
			html,body,div,p,h1,h2,h3,h4,h5,span,input,img,ul{
				padding: 0;
				margin: 0;
			}
			ul{
				list-style: none;
			}
			
			img{
				display: block;
				border: 0;
				width: 100%;
			}
			.img2{
				position: relative;
			}
			.dice{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				border: 1px solid red;
			}
			.luck{
				    width: 89%;
				    height: 80%;
				    border: 1px solid green;
				    position: absolute;
				    top: 1%;
				    left: 2%;
				    padding: 2% 3% 2% 3%;
			}
			.reward{
				    width: 100%;
			}
			.reward td{
				
			}
			.tr1,.tr2,.tr3,.tr4{
				    height: 15%;
			}
			.w0{
				width: 25%;
				height: 100%;
				display: inline-block;
				border-radius: 5px;
				background: #2fbff6;
    			box-shadow: 0 6px 0 #005bcc;
    			float: left;
    			
			}
			.sh{
				background: #ee9d2f;
    			box-shadow: 0 5px 0 #914b00;
			}
			.qh{
				background: #fee05d;
    			box-shadow: 0 5px 0 #cf780d;
			}
			.w1{
				width: 15%;
				height: 100%;
				display: inline-block;
				border-radius: 5px;
				
    			float: left;
    			
			}
		/*img2骰子转动*/
		.move{
			 width: 10%;
			 height: 10%;
			 position: absolute;
			 top: 0%;
			 left: 10%;
			 transition: all 3s ease;
		}
		.roll_dice{
			        width: 14%;
				    height: 12%;
				    position: absolute;
				    top: 40%;
				    left: 44%;
				    background: url(../../img/dice_fix.png);
				    background-size: 100%;
			    
		}
		.roll_pos0{
			background-position-y: 111%;
		}
		.roll_pos1{
			background-position-y: 122%;
		}
		.roll_pos2{
			background-position-y: 133%;
		}
		.roll_pos3{
			background-position-y: 144%;
		}
		.roll_pos4{
			background-position-y: 155%;
		}
		.roll_pos5{
			background-position-y: 166%;
		}
		.roll_pos6{
			background-position-y: 177%;
		}
		.roll_pos7{
			background-position-y: 189%;
		}
		.roll_pos8{
			background-position-y: 200%;
		}
		.roll_pos9{
			background-position-y: 211%;
		}
		/*img3中奖记录*/	
		.img3{
			position: relative;
		}
		.records{
			    width: 85%;
			    height: 45%;
			    border: 1px solid red;
			    position: absolute;
			    top: 45%;
			    left: 7%;
			    overflow: hidden;
		}
		.reward_list{
			width: 100%;
    		
    		
			border: 1px solid green;
		}
		.reward_list li{
			margin-top: 6%;
			height: 8%;
		}
		.user_name{
			        display: inline-block;
				    margin-left: 12%;
				    text-align: center;
				    background: pink;
				    width: 27%;
		}
		.reward_name{
			        margin-left: 14%;
				    text-align: center;
				    width: 40%;
				    display: inline-block;
				    background: green;
		}
		.jump{
			transform:translate3d(54%,0%,0);
		}
		#shake_dice{
			width: 42%;
			height: 11%;
			position: absolute;
			left: 29%;
			top: 71%;
		}
		.text{
			position: absolute;
		    left: 38%;
		    height: 8%;
		    line-height: 10%;
		    top: 62%;
		    color: #fff;
		    font-family: 'Regular';
			
		}
		#count{
			color:#ffe571;
		}
		
